.ignore-css {
    all: unset;
}

.rn-breadcrumb-inner {
    // background-color: rgba(0, 0, 0, 0.5);
}

.timeline-date {
    font-size: large;
    color: white;
    font-weight: bold;
    opacity: 1 !important;
}